a.nav-link {
  font-size: 1.5rem;
  font-family: 'brandon-grotesque', sans-serif;
  font-weight: 500;
  padding-left: 1.5rem !important;
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: white !important;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 1.5rem;
  }
}

.navbar {
  height: 80px;
  background-color: #004c98 !important;
  box-shadow: 0px 3px 15px #00000087;
  z-index: 99;
}

.navbar-brand {
  color: white !important;
  font-size: 1.5rem !important;
  font-family: 'brandon-grotesque', sans-serif;
  font-weight: 500;
}

.navbar-collapse {
  justify-content: flex-end;
  padding-right: 9%;
}

.navbar-brand {
  padding-left: 9%;
}

.hidden {
  display: none !important;
}

.btn-primary.logout {
  background-color: #004c98;
  border-color: #004c98;
  font-size: 1.5rem;
  font-family: 'brandon-grotesque', sans-serif;
  font-weight: 500;
  padding-left: 1.5rem !important;
  color: white;
}

.btn-primary {
  background-color: none !important;
}
